section.card
  div.wrap.grid
    div.unit.whole.save-the-date
      | Save the Date
    div.unit.whole.no-gutters.cover
      img src="/assets/cover.jpg" width="100%"
    div.wrap.grid.details
      div.unit.half.left.center-on-mobiles
        p.names
          | Natalie & Rob
        p.date
          | November 8th, 2014
      div.unit.half.right.center-on-mobiles
        p.city
          | Indianapolis,
        p.state
          | Indiana

section.announcement
  div.wrap.grid
    div.unit.whole
      p
        | Mailed Save the Dates and Invitations to follow.
      p
        | Check back here when Save the Dates arrive for more information!

footer
  div.wrap.grid
    div.unit.whole.ss-icon
      ' Made with
      span.colorize
        ' heart
      | in Indianapolis