doctype html
html
  head
    title Natalie & Rob

    link href="/assets/application.css" rel="stylesheet" type="text/css"
    link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'
    link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'

    meta name="viewport" content="width=device-width,initial-scale=1"

  body
    ==yield

    javascript:
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46717714-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();